[run]
branch = True
source = kona
omit =
    */src/kona/test/*
    */src/kona/examples/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if __name__==.__main__.:
    if __name__ == '__main__':
    if __name__=='__main__':
    unittest.main()
