[run]
branch = True
source = Kona
omit =
    */python?.?/*
    */lib-python/?.?/*.py
    */lib_pypy/_*.py
    */site-packages/ordereddict.py
    */site-packages/nose/*
    */unittest2/*
    */src/kona/tests
    */setup.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if __name__==.__main__.:
    if __name__ == '__main__':
    if __name__=='__main__':
    unittest.main()
